/* Elementos */
:root{
    --color-purple: purple;
    --color-orange: orange; 

}
/* Clase */

/* id */

/* Estrella o universal */
*{
    border: 1px solid gray;
}
li ul {
    color: red;
    display: none;

}
li:hover ul{
    display: block;
}
/* Descendientes */
li a{
    color:red;
}

.list .list-item{
    color: brown;
}
/* Selectores adyacentes */
.title-1{
    color: var(--color-purple);
   

}
.title-2{
    color: var(--color-orange);
}

.subtitle{
    font-size: 10px;
    margin-top: -16px;
}



/* Hijos Directos */

/* Hermano siguiente */

.title-1 + .subtitle{
    color: var(--color-orange);
}

/* Selectores de atributos */

a[href="http://google.com"]{
    background-color: blue;
    color: white;
}

a[href]{
    border: 2px solid yellow;
}
[type="email"]{
    border: 1px dashed purple;
}
[type="submit"]{
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1.2px 1.2px black;
}

.enable{
    display: none;
}
.disable{
    
}
/* nth of types */
