/* Elementos */
:root{
    --color-purple: purple;
    --color-orange: orange; 

}
/* Clase */

/* id */

/* Estrella o universal */
*{
    border: 1px solid gray;
}
li ul {
    color: red;
    display: none;

}
li:hover ul{
    display: block;
}
/* Descendientes */
li a{
    color:red;
}

.list .list-item{
    color: brown;
}
/* Selectores adyacentes */
.title-1{
    color: var(--color-purple);
   

}
.title-2{
    color: var(--color-orange);
}

.subtitle{
    font-size: 10px;
    margin-top: -16px;
}

.title-1 + .subtitle{
    color: var(--color-orange);
}


/* Hijos Directos */

/* Hermano siguiente */

/* Selectores de atributos */

/* nth of types */
